body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter";
  background-color: #fefaf0;
  overflow-x: clip;
}
.Diagonal {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 10vw solid #fefaf0;
  margin-top: calc(60vh - 9.9vw);
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
.Loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
/*NAVBAR CSS*/
.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #ffefca;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-shadow: 0px 0px 10px 0px rgba(124, 107, 11, 0.75);
}
.Navbar h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 2vw;
  margin-top: 0;
  font-weight: 600;
  position: relative;
  text-align: center;
  color: black;
}
a {
  color: #a78c3b;
  position: inherit;
  text-decoration: none; /* no underline */
}
.Navbar .Links {
  color: black;
  text-decoration: none;
  margin-right: 2vw;
}
/* HEADER CSS */

.Header {
  background-image: linear-gradient(to bottom right, #e1c16e, #ffefca);
  height: 60vh;
  display: flex;
  align-items: center;
  border: none;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 0;
}
.Header .Text {
  margin-left: 15vw;
}
.Header h1 {
  margin-top: 5vh;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 0;
}
.Header span {
  font-size: 1.5rem;
  font-weight: 500;
}
.Container {
  width: fit-content;
}
/*About CSS */

.About {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding-left: 15vw;
  padding-right: 15vw;
  width: 70vw;
  font-size: 1.25rem;
  background-color: #fefaf0; /*#FEFAF0*/
  position: relative;
  z-index: 2;
  padding-bottom: 0;
}
.About h2 {
  padding-top: 50px;
  position: relative;
  z-index: 3;
}
.About h2,
.About p {
  width: 600px;
  margin-top: 0;
}
#AboutMe::before {
  background-color: #008896;
  position: absolute;
  content: "";
  height: 0.7rem;
  width: 9.5rem;
  z-index: -1;
  bottom: 0;
  transform: translate(-0.3rem, -0.1rem);
}
#MySkills::before {
  background-color: #008896;
  position: absolute;
  content: "";
  height: 0.7rem;
  width: 8.75rem;
  z-index: -1;
  bottom: 0;
  transform: translate(-0.3rem, 0rem);
}

.About .LogoImages img {
  height: 80px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -100px;
}
#javaIcon {
  margin-right: -5px;
  margin-left: -5px;
}
.About .LogoImages {
  display: flex;
  width: fit-content;
  justify-content: center;
}

.imageAndSocials {
  display: flex;
  flex-direction: column;
  float: right;
  position: relative;
  bottom: min(50vh, 400px);
  
}
.Socials img {
  width: 60px;
  height: auto;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.Socials {
  position: relative;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  z-index: 0;

  animation: slideFromTop 0.5s;
}
.Resume {
  margin-top: 0.5rem;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 2px solid transparent;
  width: 100%;
  padding: 6px;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #e1c16e;
  border-color: #e1c16e;
  animation: slideFromTop 0.5s;
}
.Resume:hover {
  color: #fff;
  background-image: linear-gradient(to right, #e1c16e, #ebdab0);
  border-color: #e1c16e;
}
#portrait {
  width: 400px;
  height: auto;
  border-radius: 15px;
  max-width: 400px;
  position: relative;
  z-index: 1;
}
.Content {
  width: 600px;
  background-color: #fefaf0;
  animation: transitionIn 1s;
  
}
.ProjectsTitle {
  background-color:#fefaf0 ;
  position: sticky;
  top: 0;
  height:100vh;
  
  display:flex;
  flex-direction: column;
  animation: fadeIn;
  
}
.ProjectsWrapper {
  display: flex;
  flex-direction: column;
  position:relative;
  
  margin-left: 0vw;;
}
.spacerTest {
  height:100vh;
  background-color: #008896;
}
/* PROJECTS CSS*/
.Projects {
  margin-top: -150px;
  min-height:max-content;
  position: relative;
  z-index: 3;
  background-color: #fefaf0;
  margin-bottom: 0;
  padding-left: 15vw;
  padding-right: 15vw;
  bottom: 50px;
}
.Projects > h2 {
  font-size: 2em;
  position: relative;
  margin-top: 0;
}


#ProjectsTitle::before {
  background-color: #008896;
  position: absolute;
  content: "";
  height: 0.7rem;
  width: 12.3rem;
  z-index: -1;
  bottom: 0;
  transform: translate(-0.3rem, -0.1rem);
}
.Projects a {
  text-decoration: none;
  color: black;
}
.Divider {
  height: 0.2rem;
  width: 100%;
  background-color: black;
}
.ProjectTextWrapper {
  margin-left: 2rem;
}
.ProjectInfo p {
  font-size: 0.7rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  width: rem;
}
.ProjectInfo  h4 {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
.ProjectSlide .DateWrapper {
  display:flex;
 
}
.ProjectDate {
  width: fit-content;
}
.ProjectSlide {
  /* margin-bottom: 1rem; */
  width: min(50vw, 1500px);
  transition: 0.3s;
  padding: 1rem;

}
.ProjectSlide:hover {
  background-color: #ebdab0;
  transition: 0.3s;
  border-radius: 10px;
}
.ProjectSlide .Subheading {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
}
.ProjectSlide h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.ProjectSlide p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; 
}
.ProjectSlide .Description {
  
}
#ProjectsSection{
  position: relative;
}
#PFrameWrapper {
  display: flex;
  justify-content: space-between;
}
#FrameWrapper {
  margin:0;
  top: 0vh;
  right: 0vw;
  z-index: 3;
  float:left;
  padding: 5vh;
  height: 90vh;
  position:sticky;
  
}
#Frame {
  width: 400px;
  height: 90vh;
  background-color: #008896;
}

/*MODS PAGE CSS*/
.Landing {
  position: relative;
  text-align: center;
  width: 80vw;
  height: auto;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vw;
}
.Landing > img {
  width: 80vw;
  animation: fadeIn 2s;
}

.Landing h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  width: 100%;
  font-size: 9vw;
  background: -webkit-linear-gradient(#e1c16e, #fefaf0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(-50%, -50%);
  animation: fadeIn 2s;
}

.Roadcode .Landing h1 {
  background: none;
  color: black;
  -webkit-background-clip: none;
  -webkit-text-fill-color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.ProjectEntry {
  display: flex;

  margin-left: 20vw;
  margin-top: 5vw;
  animation: transitionIn 1s;
}
.ProjectEntry h2 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0;
}
.ProjectEntry .Main p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
  width: 50vw;
  text-align: left;
}
.ProjectEntry .Main {
  width: 50vw;
  margin-left: 2vw;
}
.ProjectEntry .Sidebar {
  display: flex;
  flex-direction: column;
  width: 10rem;
}
.ProjectEntry .Sidebar h3 {
  margin-bottom: 0;
  font-size: 1rem;
}
.ProjectEntry .Sidebar p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  text-align: left;
}
.CombatEnchantments {
  position: relative;
  background-color: #fefaf0;
  z-index: 1;
}
.ArmorAbilities {
  position: relative;
  background-color: #fefaf0;
  z-index: 1;
}
.Video,
video {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vw;
  width: 80vw;
  height: 40vw;
  object-fit: cover;
}
.MediaDesc {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2rem;
  margin-bottom: 0;
}
.Spacer {
  margin: 5vw;
}
/*FOOTER CSS*/
.Footer {
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  background-image: linear-gradient(to bottom right, #e1c16e, #ffefca);
}
.Footer p {
}

@media (max-width: 1500px) {
  .Header h1 {
    width: 390px;
  }
  .About h2,
  .About p {
    width: 550px;
  }
  .Content {
    width: 300px;
  }
  .Projects {
    
  }
}
@media(max-width: 1350px){
  .About p {
    width: 400px;
  }
  .Projects {
    margin-top: -100px;
  }
}
@media (max-width: 1200px) {
  .About p {
    width: 550px;
  }
  .Header .Text {
    margin-left: 5vw;
  }
  .About {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
  }
  .Projects {
    padding-left: 5vw;
    padding-right: 5vw;
    width: 90vw;
  }
  /* .Slide {
    height: auto;
  } */
  .Images {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  /* .Projects img {
    width: 42vw;
    height: 33vh;
  } */
  /*Minecraft Mods*/
  .Mods > h1 {
    margin-top: 5vh;
    font-size: 10vw;
  }
  .Landing img,
  h1 {
    margin-top: 5vw;
  }
  .ProjectEntry {
    flex-direction: column-reverse;
    margin-left: 0;
    margin-top: 0vw;
    margin-bottom: 5vw;
  }
  .ProjectEntry .Main {
    margin: 0;
  }
  .ProjectEntry .Sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;

    margin-left: 10vw;
    margin-right: 10vw;
  }
  .ProjectEntry .Sidebar h3 {
    font-size: 3vw;
  }
  .ProjectEntry .Sidebar p {
    font-size: calc(0.7rem + 0.7vw);
  }
  .ProjectEntry .Sidebar div {
    margin-right: 1rem;
  }
  .ProjectEntry .Sidebar p {
    width: 20vw;
  }
  .ProjectEntry .Main h2 {
    margin-left: 10vw;
    font-size: 3rem;
    width: 80vw;
  }
  .ProjectEntry .Main p {
    margin-left: 10vw;
    width: 80vw;
    font-size: 1.2rem;
  }
}
@media (max-width: 1050px) {
  .ProjectTextWrapper {
    margin-left: 0rem;
  }
  .ProjectSlide {
    width: 90vw;
    padding: 0;
  }
  .ProjectSlide .DateWrapper {
   flex-direction: column-reverse;
  }
  .DateWrapper > .ProjectInfo {
    display:flex;
    flex-direction: row;
    
  }
  .DateWrapper > .ProjectInfo > div{
    margin-right: 1rem;
  }
  .Header {
    justify-content: center;
    text-align: center;
  }
  .Header .Container {
    display: inline;
  }
  .Header .Text {
    position: relative;
    bottom: 100px;
    margin-left: 0vw;
  }
  .About {
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .Content {
    width: 80vw;
    margin-right: 5vw;
    position: relative;
    bottom: 200px;
  }
  .Projects {
    top: 00px;
  }
  .About h2,
  .About p {
    width: 80vw;
  }
  .Projects {
    width: 80vw;
    height: 100vh;
  }
  .imageAndSocials {
    bottom: 200px;
  }
  #portrait {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .Socials img {
    width: 12vw;
    max-width: 60px;
  }
  .Resume {
    width: 80vw;
    max-width: 400px;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .About .LogoImages {
    flex-wrap: wrap;
    height: 200px;
  }
  

  .Images {
    flex-direction: column;
    align-items: center;
  }
  /* .Slide {
    height: 45vh;
  } */
  /* .Images{
        margin-left: 5vw;
        margin-right: 5vw;
    } */
    .Right {
      margin-top: 0px;
      height: 100vh;
    }
    .Left {
      height: 100vh;
    }
    /* .ProjectsTitle h2{
      font-size: 4rem;
    } */
  .Projects img {
    width: 90vw;
    height: 45vh;
  }
  .Projects {
    margin-top: -150px;
    width: 90vw;
  }
  .Projects .text {
    font-size: 5vw;
  }
  .show {
    opacity: 1;
  }

  /*MC MODS*/
  .Landing img,
  h1 {
    margin-top: 10vw;
  }
}
@media (max-width: 500px) {
  .Landing img,
  h1 {
    margin-top: 15vw;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
